<!-- 
	login.html

	The login page of our application

	Author: Ellery R. De Jesus
	Author: Chris Wolf

-->
{% load static %}
<html>
<head>
    <title>Login</title>
	<!-- The styles we will be using for this page (Will be removed and placed in a css file at a later date). -->
	<link href="{% static 'demonstration/styles/signinstyles.css' %}" rel="stylesheet">
    
</head>
<body style="container">
    <div>
        <div class="user_card">
            <div>
                <h3 id="form-title">LOGIN</h3>
            </div>
            <div>
				<!-- Where we will be accepting input for each of the fields in the User model (username and password) -->
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="username" placeholder="Username..." class="form-control">
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" placeholder="Password..." class="form-control">
                    </div>
                    <div>
                        <input class="btn login_btn" type="submit" value="Login">
                    </div>
                </form>
            </div>
            {% for message in messages%}
                <p id="messages">{{message}}</p>
            {% endfor %}
            <div>
                <div>
                    <a href="{% url 'register'%}">Don't have an account?</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
